<div id="content_wrapper">
    <header>
        <section class="header__top">
            <div class="container">
                <div class="header__logo">
                    <a href="/">
                        <img loading="eager" src="/images/logos/F_icon.svg" alt="Facebook">
                    </a>
                </div>
                <div class="visible-xs">
                    <button class="header__toggle__menu" type="button" name="toggle" aria-label="Toggle menu" title="Toggle menu">
                        <i class="icon icon--large icon--white"><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1664 1344v128q0 26-19 45t-45 19H192q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19H192q-26 0-45-19t-19-45V832q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19H192q-26 0-45-19t-19-45V320q0-26 19-45t45-19h1408q26 0 45 19t19 45z"></path></svg></i>
                    </button>
                </div>
            </div>
        </section>

        <section class="header__bottom affix-top" data-spy="affix" data-offset-top="90">
            <div class="container">
                <nav id="navbar" class="header__nav">
                    <ul>
                        <li id="/" class="navbtn"><a href="/">Acceuil</a></li>
                        {% if app.user %}
                            <li id="/compte" class="navbtn"><a href="/compte">Mon compte</a></li>
                            <li id="/logout" class="navbtn header__logout"><a href="/logout">Logout</a></li>
                        {% else %}
                            <li id="/register" class="navbtn"><a href="/register">Register</a></li>
                            <li id="/login" class="navbtn header__login"><a href="/login">Login</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </section>
    </header>
</div>