<div id="sln">
</div>
<div id="content_wrapper">
    <header>
        <section class="header__top">
            <div class="container">
                <div class="header__logo">
                    <a href="/">
                        <img loading="eager" src="/images/logos/F_icon.svg" alt="Symfony">
                    </a>
                </div>
                <div class="visible-xs">
                    <button class="header__toggle__menu" type="button" name="toggle" aria-label="Toggle menu" title="Toggle menu">
                        <i class="icon icon--large icon--white"><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1664 1344v128q0 26-19 45t-45 19H192q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19H192q-26 0-45-19t-19-45V832q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19H192q-26 0-45-19t-19-45V320q0-26 19-45t45-19h1408q26 0 45 19t19 45z"></path></svg></i>
                    </button>
                </div>
            </div>
        </section>

        <section class="header__bottom affix-top" data-spy="affix" data-offset-top="90">
            <div class="container">
                <nav class="header__nav">
                    <ul>
                        <!--li class="header__logo--responsive">
                            <a loading="lazy" href="/"><img alt="Facebook logo" src="/images/logos/F_icon.svg"></a>
                        </li>
                        <li id="menu-what-is-symfony">
                            <a href="/what-is-symfony">
                                About
                            </a>
                        </li>
                        <li id="menu-learn" class="selected">
                            <a href="/doc/current/index.html">
                                Documentation
                            </a>
                        </li>
                        <li id="menu-screencasts">
                            <a href="https://symfonycasts.com/">
                                Screencasts
                            </a>
                        </li>
                        <li id="menu-cloud">
                            <a href="/cloud/">
                                <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M537.6 226.6c4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32c-88.4 0-160 71.6-160 160 0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4z"></path></svg>
                                Cloud
                            </a>
                        </li>
                        <li id="menu-certification">
                            <a href="https://certification.symfony.com/">
                                Certification
                            </a>
                        </li>
                        <li id="menu-community">
                            <a href="/community">
                                Community
                            </a>
                        </li>
                        <li id="menu-services">
                            <a href="https://sensiolabs.com">
                                Businesses
                            </a>
                        </li>
                        <li id="menu-news">
                            <a href="/blog/">
                                News
                            </a>
                        </li-->
                        {% if app.user %}
                            <li id="compte">
                                <a href="/compte">Mon compte</a>
                            </li>
                            <li class="hidden-xs header__logout">
                                <a href="/logout">Logout</a>
                            </li>
                        {% else %}
                            <li id="register">
                                <a href="/register">Register</a>
                            </li>
                            <li class="hidden-xs header__login">
                                <a href="/login">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </section>
    </header>

</div>